#choose-hero
  .title
    h2
      font-size: 20px
      @media (min-width: $screen-md)
        font-size: 50px
      font-family: $header-font-small
  .heros-container

    height: auto
    min-height: 400px
    .carousel-control
      background: none
      span
        font-family: $header-font-small
        color: black
        font-size: 100px
      &.left
        span
          &::before
            content: '<'
      &.right
        span
          &::before
            content: '>'




