#game
  .game-inner
    width: 100%
    justify-content: center

  .counter
    font-family: $header-font-small
  .btn-container
    margin-top: 50px
  .board
    margin: auto
    display: table
    border-collapse: collapse
    .line
      display: table-row
      .player,.opponent
        &::after
          left: 10%
          top: 10%
          content: ''
          position: absolute
          width: 80%
          height: 80%
          background-repeat: no-repeat
          background-size: contain
          background-position: center
          transition-duration: 500ms
          border: 3px solid transparent

      .cell
        display: table-cell
        position: relative
        vertical-align: middle
        text-align: center
        width: 50px
        height: 50px
        border: 2px dashed rgb(237, 237, 237)
        @media (min-width: $screen-md)
          width: 100px
          height: 100px
          border: 5px dashed rgb(237, 237, 237)
        transition-duration: 500ms
        &.empty
          @extend .player
          &::after

            opacity: 0
        &:hover
          &:not(.empty)
            cursor: not-allowed
          &.empty
            cursor: pointer
            @extend .player
            &::after
              opacity: .5
              border-radius: 50%
              background-color: black
        &.winner
          &::after
            border: 3px solid #2cac40
            border-radius: 5px
        &.inactive
          &::after
            opacity: .2
          &:hover
            &::after
              cursor: not-allowed
              background-color: transparent
