#heros-presentation
  font-family: $header-font-small
  .row
    align-items: stretch
    justify-content: center
    >div
      flex-direction: column
      justify-content: center
    .player-presentation
      justify-content: space-between
      text-align: center
      img
        margin: 10px auto
        max-width: 70%
      p
        padding: 0
        margin: 0
        span
          font-size: 150%
        strong
          @media (min-width: $screen-md)
            font-size: 200%
    .duel
      span
        font-size: 300%
  .delay
    text-align: center
    padding: 0
    margin: 0
    line-height: 1
    span
      font-size: 200%


