#start-Container

  .title
    text-align: center
    h1
      font-family: $header-font
      font-size: 30px
      @media (min-width: $screen-md)
        font-size: 80px
      padding: 0
      margin: 0
      line-height: .5
      small
        font-size: 50%
        font-family: $header-font-small
