
// import bootstrap
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"

// import fonts

@import url('https://fonts.googleapis.com/css?family=Anton|VT323&subset=latin-ext')

// import variables
@import "variables"


// core styles

a
  color: inherit
a:active
  color: inherit
  text-decoration: none
a:focus
  color: inherit
  text-decoration: none
a:hover
  color: inherit
  text-decoration: none


.row-xs-flex-center
  display: flex
  align-items: center

@media ( min-width: $screen-sm )
  .row-sm-flex-center
    display: flex
    align-items: center

.row-md-flex-center
  @media ( min-width: $screen-md )
    display: flex
    align-items: center


@media ( min-width: $screen-lg )
  .row-lg-flex-center
    display: flex
    align-items: center
body
  .app-container
    position: absolute
    width: 100%
    min-height: 100%
    height: auto
    .game-container
      height: 100%
      width: 100%
      position: absolute

      flex-direction: column
      justify-content: center

.start-btn
  font-family: $header-font-small
  font-size: 30px
  margin: 20px auto 0 auto
  padding: 8px 13px
  border: none
  @media (min-width: $screen-md)
    font-size: 50px
    margin: 40px auto 0 auto
    padding: 15px 25px
  color: white
  background-color: black
  &:hover
    cursor: pointer
    background-color: gray
.hero-box
  text-align: left
  font-family: $header-font-small
  .lead
    padding: 0
    margin: 0
  ul
    li
      font-size: 80%


// import views styles

@import "startView"
@import "chooseHeroView"
@import "herosPresentationView"
@import "gameView"
@import "heroBoxDirective"