<div id="choose-hero" class="game-container row-xs-flex-center">

<div class="col-xs-12 title text-center">
    <h2>Choose your hero!</h2>
</div>

    <div uib-carousel active="active" class="heros-container col-xs-11 col-md-8 row-xs-flex-center">
        <div uib-slide ng-repeat="hero in heros track by $index" index="$index">
            <hero-box  class=" hero-box row-md-flex-center col-md-8 col-md-offset-2" hero="hero">

            </hero-box>
        </div>
    </div>
    <div class="col-xs-12 text-center">
        <button class="confirm-hero-btn start-btn" ng-click="confirmHero()">confirmHero()</button>

    </div>






</div>