<div id="game" class="game-container row-xs-flex-center container-fluid">
    <style>
        .player::after {
            background-image: url('{{player.avatar}}');
        }

        .opponent::after {
            background-image: url('{{opponent.avatar}}');
        }
    </style>

    <div class="game-inner row row-xs-flex-center">

<div class="col-md-4 counter text-center" ng-if="!winner">
    <p class="lead" ng-class="{'text-danger':counter<3}">Time for move: {{counter}} s</p>
</div>
        <div class="board " ng-class="{'hidden-xs hidden-sm':winner}">
            <div class="line " ng-repeat="line in board track by $index">
                <div class="cell "
                     ng-class="{'player':cell=='x', 'opponent':cell=='o', 'empty':!cell,'inactive':winner&&!winnerCells[$parent.$index][$index], 'winner':winnerCells[$parent.$index][$index]}"
                     ng-repeat="cell in line track by $index" ng-click="makeMove($parent.$index,$index)">

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-8 hero-box" ng-if="winner">
            <div ng-if="winner!='d'" class="row">


                <div class="col-xs-12 col-md-6 col-md-offset-3">

                        <h1 class="text-center">Winner:</h1>

                </div>
                <hero-box  class=" hero-box row-sm-flex-center col-xs-12 col-md-8 col-md-offset-2" hero="winnerInfo">

                </hero-box>
            </div>
            <div ng-if="winner=='d'">
                <div class="row draw">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="text-center">Draw!</h1>
                    </div>
                </div>
            </div>
            <div class="row btn-container">
                <div class="col-md-12 text-center">
                    <a href="#!/choose-your-hero" class="start-btn">restart()</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" ng-if="!winner"></div>

    </div>
</div>