

<div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4 "><img ng-src="{{hero.avatar}}" alt="" class="img-responsive"></div>
<div class="col-xs-12 col-sm-6 col-sm-6 col-md-9">
    <div class="row hero-title ">
        <div class="col-md-12">
        <h3 class="h1 ">{{hero.name}}</h3>
        <p class="lead">Philosophy: {{hero.philosophy}}</p>
        <p class="lead">Role: {{hero.roleName}}</p>
        <p class="lead">Difficulty: {{getLabel(hero.difficulty)}}</p>
        </div>
    </div>
    <div class="row hero-info">
        <div class="col-xs-6 pros">
            <p class="lead">pros</p>
            <ul class="lead">
                <li ng-repeat="pro in hero.pros track by $index">{{pro}}</li>
            </ul>
        </div>
        <div class="col-xs-6 cons">
            <p class="lead">cons</p>
            <ul class="lead">
                <li ng-repeat="con in hero.cons  track by $index">{{con}}</li>
            </ul>
        </div>
    </div>
</div>