<div id="heros-presentation" class="game-container row-xs-flex-center container-fluid">

    <div class="row row-xs-flex-center">
        <div class="col-xs-3 player-presentation row-xs-flex-center">
            <p class="lead">You</p>
            <img ng-src="{{player.avatar}}" alt="" class="img-responsive">
            <p class="lead"><strong>{{player.name}}</strong></p>
        </div>
        <div class="col-xs-3 text-center row-xs-flex-center"><p class="lead duel"><span>VS</span></p></div>
        <div class="col-xs-3 player-presentation row-xs-flex-center">
            <p class="lead">Your opponent</p>
            <img ng-src="{{opponent.avatar}}" alt="" class="img-responsive">
            <p class="lead"><strong>{{opponent.name}}</strong></p></div>
    </div>

    <p class="lead delay">match will begin in: <br><span ng-class="{'text-danger':delay<4}">{{delay}}</span></p>


</div>