<div class="game-container row-xs-flex-center" id="start-Container">

<div class="title">


    <h1>Tic Tac T<>e<br>
        <small>programmist challenge</small></h1>
</div>
    <a href="#!/choose-your-hero" class="start-btn">startGame()</a>


</div>